In [56]:
import pandas as pd
import numpy as np

from astropy.io import fits

from tqdm import tqdm
tqdm.pandas()

### Importing Data

In [2]:
df = pd.read_csv('C:/Users/oryan/Documents/mergers-in-cosmos/data/cosmos-matched-all-eazy-df.csv', index_col = 0)

C:\Users\oryan\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3457: DtypeWarning: Columns (466) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df

,SourceID,id_1_2020,id_2_2020,ez_LIR_1,ez_L2800_1,ez_LIR_2,ez_L2800_2,ra_1,dec_1,clon_1,...,ssfr_med_2,ssfr_med_min68_2,ssfr_med_max68_2,ssfr_best_2,l_nu_2,l_r_2,l_k_2,dist_2,angle_2,category
0,4000705532455,816891,812427,1.461746e+10,6.532970e+09,4.550346e+08,3.795326e+08,150.679866,2.196563,10h02m43.17s,...,-8.625,-8.745,-8.435,-8.666,27.074,27.260,27.124,9.361438,123.114321,NaN
1,4000705533312,873195,872551,3.561132e+10,1.346792e+09,1.310930e+11,5.523424e+09,150.668120,2.242867,10h02m40.35s,...,-10.300,-10.368,-10.231,-10.258,28.661,29.620,29.874,2.627196,14.847254,stage3
2,4000705533383,861738,861742,5.621026e+09,5.348111e+09,2.269957e+10,2.636891e+09,150.645145,2.237538,10h02m34.83s,...,-8.440,-8.550,-8.334,-8.448,29.135,29.232,29.068,2.241379,287.399545,stage1
3,4000705539529,1284864,1281998,4.125722e+10,1.431745e+10,5.301575e+08,2.605845e+09,149.686238,2.637428,09h58m44.70s,...,-8.863,-8.987,-8.724,-8.830,28.323,28.572,28.466,3.301196,89.699137,stage1
4,4000705539941,1301188,1300267,5.449620e+07,3.591865e+08,1.352380e+09,3.631612e+08,149.702477,2.654904,09h58m48.59s,...,-8.270,-8.574,-8.054,-8.240,27.618,27.623,27.561,5.171943,338.551088,stage2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,6000536184828,1258774,1251929,1.478491e+11,1.198529e+10,NaN,NaN,150.481102,2.605657,10h01m55.46s,...,-8.641,-9.158,-8.196,-8.543,27.540,27.664,27.613,7.638679,9.844286,stage4
2459,6000536185304,1298440,1294806,1.230318e+11,6.801087e+09,2.763437e+09,4.709840e+09,150.471787,2.648527,10h01m53.23s,...,-8.614,-8.746,-8.424,-8.746,28.699,28.908,28.796,9.098925,95.953708,stage4
2460,6000536185496,1308675,1308556,3.568900e+10,7.501403e+09,5.335385e+08,7.185492e+07,150.501189,2.663116,10h02m00.29s,...,-8.471,-8.823,-8.062,-8.550,27.942,28.083,27.930,9.743745,314.274351,stage1
2461,6000536185585,1317966,1315791,6.913122e+10,1.568826e+10,1.170207e+09,7.337763e+07,150.487626,2.671314,10h01m57.03s,...,-8.632,-9.201,-8.099,-8.272,27.326,27.343,27.281,2.636796,240.396443,stage3
2462,6000536185717,1336295,1336374,1.323519e+11,2.165860e+10,2.441820e+11,7.481474e+09,150.487288,2.687491,10h01m56.95s,...,-8.943,-9.030,-8.856,-8.954,29.896,30.183,30.192,9.507296,70.980892,stage4

id_xmm_1',
 'flux_xmm_05_2_1',
 'flux_xmm_2_10_1',
 'flux_xmm_5_10_1',
 'hardness_xmm_1',
 'id_chandra09_1',
 'flux_chandra_05_2_1',
 'flux_chandra_2_10_1',
 'flux_chandra_05_10_1',

In [15]:
df[['id_xmm_1']].dropna()

      id_xmm_1
181    54469.0
549      516.0
627    70096.0
2169   53400.0
2293   60388.0

In [16]:
df[['id_xmm_2']].dropna()

Empty DataFrame
Columns: [id_xmm_2]
Index: []

In [20]:
df[['id_chandra09_1']].dropna()

      id_chandra09_1
902           2748.0
1506          1679.0

In [21]:
df[['id_chandra09_2']].dropna()

Empty DataFrame
Columns: [id_chandra09_2]
Index: []

Not many detections in XMM or in Chandra throughout this catalogue! I have found a pure AGN catalogue though...

## Importing Catalogue

In [28]:
with fits.open('E:/temporary-cosmos-big-data/VLA_3GHz_counterpart_array_20170210_paper_delvecchio_et_al.fits') as hdul:
    data = hdul[1].data
    header = hdul[1].header

### Attempting to Match

In [31]:
ra = df.ra_1.iloc[0]
dec = df.dec_1.iloc[0]

In [46]:
mask = (data['RA_VLA3'] < ra + 0.001) & (data['RA_VLA3'] > ra - 0.001) & (data['DEC_VLA3'] < dec + 0.001) & (data['DEC_VLA3'] > dec - 0.001)

In [95]:
def checking_agn(ra, dec, cat):
    mask = (data['RA_VLA3'] < ra + 0.001) & (data['RA_VLA3'] > ra - 0.001) & (data['DEC_VLA3'] < dec + 0.001) & (data['DEC_VLA3'] > dec - 0.001)
    column = data[mask]
    if len(column) > 0.5:
        if len(column['CLASS'][0]) > 0:
            return column['CLASS'][0]
        else:
            return 'no-agn'
    else:
        return 'not-in-cat'

In [96]:
df_check = df[['SourceID', 'ra_1', 'dec_1', 'ra_2', 'dec_2']]

In [97]:
df_checked = (
    df_check
    .assign(agn_1 = df_check.apply(lambda row: checking_agn(row.ra_1, row.dec_1, data), axis = 1))
    .assign(agn_2 = df_check.apply(lambda row: checking_agn(row.ra_2, row.dec_2, data), axis = 1))
)

In [98]:
df_checked

,SourceID,ra_1,dec_1,ra_2,dec_2,agn_1,agn_2
0,4000705532455,150.679866,2.196563,150.681840,2.195189,not-in-cat,not-in-cat
1,4000705533312,150.668120,2.242867,150.668167,2.243655,no-agn,no-agn
2,4000705533383,150.645145,2.237538,150.644525,2.237836,not-in-cat,not-in-cat
3,4000705539529,149.686238,2.637428,149.687548,2.637165,not-in-cat,not-in-cat
4,4000705539941,149.702477,2.654904,149.702124,2.655957,not-in-cat,not-in-cat
...,...,...,...,...,...,...,...
2458,6000536184828,150.481102,2.605657,150.481463,2.607681,no-agn,not-in-cat
2459,6000536185304,150.471787,2.648527,150.474007,2.648208,not-in-cat,not-in-cat
2460,6000536185496,150.501189,2.663116,150.498900,2.664859,not-in-cat,not-in-cat
2461,6000536185585,150.487626,2.671314,150.486602,2.670808,not-in-cat,not-in-cat
2462,6000536185717,150.487288,2.687491,150.489399,2.688241,not-in-cat,no-agn

In [99]:
df_checked.agn_1.value_counts()

not-in-cat    2147
no-agn         262
MLAGN           28
HLAGN           26
Name: agn_1, dtype: int64

In [100]:
df_checked.agn_2.value_counts()

not-in-cat    2308
no-agn         134
MLAGN           12
HLAGN            9
Name: agn_2, dtype: int64